@import 'https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css';

@media (prefers-color-scheme: dark) {
}

#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1 {
    padding: 1em 0;
}

.card {
    margin: 2em 1em;
    padding: 1em;
}

.read-the-docs {
    color: #888;
}

label {
    display: flex;
    flex-direction: row;
}

span {
    text-align: left;
    align-content: center;
}

span.potion-alias {
    flex: 3 3 256px;
}

span.quantity {
    flex: 1 1 16px;
}

input {
    flex: 2 2 32px;
}

